/* header {
  background-color: #434a54;
} */

header h4 {
 color: #ccc;
 font-size: 13px;
 text-align: center;
}

.input-search{
  border-radius: 25px;
  display: inline;
  position: relative;
  top: 12px;
}

.fa-search {
  color: grey;
  position: relative;
  cursor: pointer;
  bottom: 23px;
  float: right;
  margin-right: 13px;
}
